

body {
    background-color: beige;
}

h1 {
    font-family: 'monospace';
    letter-spacing: 4px;
    text-shadow: 1.5px 1.5px 1px #EC4E20, 3px 3px 1px #FF9505, 5px 5px 1px #016FB9, 6px 6px 1px #F2F3D9, 7px 7px 1px #7CB518;
    text-align: center;
    color: #353531;
    font-size: 10rem;
    font-weight: 700;
}

