section h1 {
    background-color: lightblue;
}

section p {
    background-color: linen;
}

article {
    background: url('../images/kieran-white-SBdmQcW8qag-unsplash.jpg') center/cover;
    color: white;
}